<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/recipeStyle.css">
    <script src="js/recipeScript.js" defer></script>
</head>
<body>
    <!-- Global Header -->
    <header id="global-header"></header>

    <!-- Main Content -->
    <main id="recipe-details">
        <section id="recipe-header">
            <h1 id="recipe-title"></h1>
            <img id="recipe-image" alt="Recipe Image">
            <p id="recipe-description"></p>
            <p id="recipe-author" class="recipe-author"></p> <!-- Reseptin tekijän nimi -->
        </section>
        <section id="recipe-ingredients">
            <h2>Ingredients</h2>
            <ul id="ingredients-list"></ul>
        </section>
        <section id="recipe-instructions">
            <h2>Instructions</h2>
            <ol id="instructions-list"></ol>
        </section>
    </main>
</body>
</html>